/*Rotate Animation*/
@-webkit-keyframes spin {
	from {transform: rotate(0);}
	to {transform: rotate(360deg);}
}

@-moz-keyframes spin {
	from {transform: rotate(0);}
	to {transform: rotate(360deg);}
}

@-o-keyframes spin {
	from {transform: rotate(0);}
	to {transform: rotate(360deg);}
}

@keyframes spin {
	from {transform: rotate(0);}
	to {transform: rotate(360deg);}
}

h1 {
	text-align: center;

}
.container {
	background-color: #999;
	text-align: center;
	font-size: 20px;
	width: 500px;
	height: 400px;
	border-radius: 100px;
}

.container > #start {
	position: relative;
	left: 5px;
	background-color: beige;
}


.square {
	height: 150px;
	width: 150px;
	float: left;
	border: 1px solid black;
	margin: 10px;
	box-shadow: 10px 10px 10px pink;
	position: relative;
	left: 70px;
}

.square:nth-child(3) {
	clear: left;
}

.up {
	opacity: 1;
	box-shadow: 10px 10px 5px #888;
}

.down {
	opacity: 0.6;
	box-shadow: 10px 10px 5px #888;
}



.red {
	background-color: red;
	border-top-left-radius: 100%;

/*	-webkit-animation: spin 10s linear infinite;
	-moz-animation: spin 10s linear infinite;
	-o-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;*/
}

.yellow {
	background-color: yellow;
	border-top-right-radius: 100%;

/*	-webkit-animation: spin 10s linear infinite reverse;
	-moz-animation: spin 10s linear infinite reverse;
	-o-animation: spin 10s linear infinite reverse;
	animation: spin 10s linear infinite reverse;*/
}

.green {
	background-color: limegreen;
	border-bottom-left-radius: 100%;


/*	-webkit-animation: spin 10s linear infinite reverse;
	-moz-animation: spin 10s linear infinite reverse;
	-o-animation: spin 10s linear infinite reverse;
	animation: spin 10s linear infinite reverse;*/
}

.blue {
	background-color: blue;
	border-bottom-right-radius: 100%;

/*	-webkit-animation: spin 10s linear infinite;
	-moz-animation: spin 10s linear infinite;
	-o-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;*/
}


